<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ETLControllerDB" connectionString="Data Source=.;Initial Catalog=ETL_Controller;Integrated Security=True;Application Name=ETL_Controller_Unit_Test"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
