################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ControllerRuntime/ControllerRuntime/bin/x64/Debug
/ControllerRuntime/.vs/ControllerRuntime/v15/Server/sqlite3
/ControllerRuntime/.vs/WorkflowRunner/v15/Server/sqlite3
/ControllerRuntime/.vs/WorkflowRunner/v15/sqlite3
/ControllerRuntime/AwsActivities/bin/Release
/ControllerRuntime/AwsActivities/obj
/ControllerRuntime/AzureActivities/bin/Release
/ControllerRuntime/AzureActivities/obj/Debug
/ControllerRuntime/AzureActivities/obj/Release
/ControllerRuntime/ControllerRuntime/bin/Debug
/ControllerRuntime/ControllerRuntime/bin/Release
/ControllerRuntime/ControllerRuntime/obj/Debug
/ControllerRuntime/ControllerRuntime/obj/Release
/ControllerRuntime/ControllerRuntime/obj/x64/Debug
/ControllerRuntime/ControllerRuntimeTest/bin
/ControllerRuntime/ControllerRuntimeTest/obj
/ControllerRuntime/DefaultActivities/bin
/ControllerRuntime/DefaultActivities/obj
/ControllerRuntime/DeltaExtractor/bin
/ControllerRuntime/DeltaExtractor/obj
/ControllerRuntime/DeltaExtractorConsole/bin
/ControllerRuntime/DeltaExtractorConsole/obj
/ControllerRuntime/packages
/ControllerRuntime/WorkflowConsoleRunner/obj
/ControllerRuntime/WorkflowRunner/bin
/ControllerRuntime/WorkflowRunner/obj
/ControllerRuntime/WorkflowRunnerTest/bin
/ControllerRuntime/WorkflowRunnerTest/obj
/ETL_Framework/Tools/ETLMonitor/bin
/ETL_Framework/Tools/ETLMonitor/obj
/ControllerRuntime/AzureActivities/bin/Debug
/ControllerRuntime/AwsActivities/bin/Debug
/ControllerRuntime/.vs/config
