################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ControllerRuntime/.vs
/ControllerRuntime/ControllerRuntime/bin
/ControllerRuntime/ControllerRuntime/obj
/ControllerRuntime/AwsActivities/bin
/ControllerRuntime/AwsActivities/obj
/ControllerRuntime/AzureActivities/bin
/ControllerRuntime/AzureActivities/obj
/ControllerRuntime/ControllerRuntime/bin
/ControllerRuntime/ControllerRuntime/obj
/ControllerRuntime/ControllerRuntimeTest/bin
/ControllerRuntime/ControllerRuntimeTest/obj
/ControllerRuntime/DefaultActivities/bin
/ControllerRuntime/DefaultActivities/obj
/ControllerRuntime/DeltaExtractor/bin
/ControllerRuntime/DeltaExtractor/obj
/ControllerRuntime/DeltaExtractorConsole/bin
/ControllerRuntime/DeltaExtractorConsole/obj
/ControllerRuntime/packages
/ControllerRuntime/TestResults
/ControllerRuntime/WorkflowConsoleRunner/bin
/ControllerRuntime/WorkflowConsoleRunner/obj
/ControllerRuntime/WorkflowRunner/bin
/ControllerRuntime/WorkflowRunner/obj
/ControllerRuntime/WorkflowRunnerTest/bin
/ControllerRuntime/WorkflowRunnerTest/obj
/ETL_Framework/.vs
/ETL_Framework/Database/ETL_Controller/bin
/ETL_Framework/Database/ETL_Controller/obj
/ETL_Framework/Database/ETL_Controller/sql
/ETL_Framework/Database/ETL_Event/bin
/ETL_Framework/Database/ETL_Event/obj
/ETL_Framework/Database/ETL_Event/sql
/ETL_Framework/Database/ETL_Staging/bin
/ETL_Framework/Database/ETL_Staging/obj
/ETL_Framework/Database/ETL_Staging/sql
/ETL_Framework/ETL_Controller_Test/bin
/ETL_Framework/ETL_Controller_Test/obj
/ETL_Framework/packages
/ETL_Framework/PublishedReferences
/ETL_Framework/Tools/ETLMonitor/bin
/ETL_Framework/Tools/ETLMonitor/obj
/ETL_Framework/Tools/ControllerClrExtensions/bin
/ETL_Framework/Tools/ControllerClrExtensions/obj
/ETL_Framework/Tools/DeltaExtractor/bin
/ETL_Framework/Tools/DeltaExtractor/obj
/ETL_Framework/Tools/DeSqlClr/bin
/ETL_Framework/Tools/DeSqlClr/obj

*.dbmdl
*.jfm
