<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ETL_Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ETLMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ETL_Framework.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>.\sql14</value>
            </setting>
            <setting name="DaysBack" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ETL_Controller</value>
            </setting>
        </ETL_Framework.Properties.Settings>
        <ETLMonitor.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>.\sql14</value>
            </setting>
            <setting name="DaysBack" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ETL_Controller</value>
            </setting>
        </ETLMonitor.Properties.Settings>
    </userSettings>
</configuration>